html { background-color: #e27faf; }
body { font-family: "Kiwi Maru", serif; }

.loadingScr {
  background-color: #e27faf;
  background-image: url("/sumiyoi/assets/images/mahotan/mahoroba_bg.jpg");
}

header .material-symbols-rounded:hover { color: #e27faf !important; }

.mainHead {
  background-color: #e27faf;
  background-image: url("/sumiyoi/assets/images/mahotan/mahoroba_bg.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
}
.mainHead > div {
  padding: calc(15rem + calc(1.5rem * 2.5)) 1.5rem 15rem 1.5rem;
  background-color: #00000080;
  text-align: center;
}
.mainHead > div * { display: block; }

.bodyText {
  background-color: #e27faf;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  color: white;
  padding: 6rem 0;
}
.bodyText > div {
  width: 62.5rem;
  max-width: 100%;
  display: block;
  margin: 0 auto;
  padding: 3rem 1.5rem;
  background-color: #000000a0;
  border-radius: 1.5rem;
}

.btnList * {
  background-color: #e27faf;
  color: black;
  box-shadow: 0 3.75px 7.5px #000000a0;
}
.btnList *:hover { background-color: #c56e98; }