@import url("/sumiyoi/assets/frameworks/css/font.css");

:root {
  --sumiyoiDark: #111;
  --sumiyoiGray: #595959;
  --sumiyoiLight: #eee;
  --sumiyoiPink: #e27faf;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  word-wrap: break-word;
  scrollbar-width: thin;
  background-color: var(--sumiyoiDark);
}
* {
  box-sizing: border-box;
}

img, video {
  display: block;
  max-width: 100%;
  height: auto;
  pointer-events: none;
  margin: 0 auto;
}