@import url("/sumiyoi/assets/frameworks/css/font.css");

:root {
  --sumiyoiDark: #111;
  --sumiyoiLight: #595959;
  --sumiyoiPink: #e27faf;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  word-wrap: break-word;
}
* {
  box-sizing: border-box;
}

footer {
  background-color: var(--sumiyoiPink);
  width: 100vw;
  padding: 1rem;
}
footer > div {
  width: 50rem;
  max-width: 100%;
  /* background-color: black; */
  text-align: right;
  margin: 0 auto;
  color: var(--sumiyoiDark);
  font-weight: 500;
}
footer > div > span {
  display: block;
}