@import url("/sumiyoi/assets/frameworks/css/font.css");

:root {
  --sumiyoiDark: #111;
  --sumiyoiLight: #595959;
  --sumiyoiPink: #e27faf;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  word-wrap: break-word;
  scrollbar-width: thin;
}
* {
  box-sizing: border-box;
}