@import url("https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300;400;500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Zen+Old+Mincho:wght@400;500;600;700;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"); /* googlefonts */

@font-face {
  font-family: "OTFMaru";
  src: url("/sumiyoi/assets/font/OTFMaru-R.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "OTFMaru";
  src: url("/sumiyoi/assets/font/OTFMaru-M.otf") format("opentype");
  font-weight: 500;
}
@font-face {
  font-family: "OTFMaru";
  src: url("/sumiyoi/assets/font/OTFMaru-B.otf") format("opentype");
  font-weight: 700;
}
@font-face {
  font-family: "OTFMaru";
  src: url("/sumiyoi/assets/font/OTFMaru-H.otf") format("opentype");
  font-weight: 900;
}