html {
  background-color: var(--sumiyoiDark);
}
body {
  background: linear-gradient(to bottom right, var(--sumiyoiDark) 25%, var(--sumiyoiLight));
  font-family: "Kiwi Maru", serif;
  color: white;
}

div[soon] {
  padding: 10rem 1rem 0 1rem;
  text-align: center;
}
div[soon] > img {
  width: auto;
  height: 960px;
  max-height: 100%;
  aspect-ratio: 9 / 16;
  object-fit: cover;
  object-position: center top;
}

img, video {
  display: block;
  max-width: 100%;
  height: auto;
  pointer-events: none;
  margin: 0 auto;
}